.toc {
  height: 100%;
  padding: 0.5em;
  margin-top: 0;
}

.toc_item {
  display: block;
  width: 100%;
  text-align: center;
  border: var(--border);
  border-bottom: none;
  background-color: var(--menu-item-background-color);
  padding: 1em 0 1em;
  cursor: pointer;
}

.toc_item:last-child {
  border-bottom: var(--border);
}

.toc_item:hover {
  background-color: var(--menu-item-background-color-hovered);
}

.toc_item--active {
  background-color: var(--menu-item-background-color-active);
}

@media screen and (min-width: 768px) {
  .toc {
    width: 23em;
    padding: 2em;
  }
}
