.toc {
  width: 20em;
  height: 100%;
  background-color: #000;
  padding: 1em;
}

.toc_item {
  display: block;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid gainsboro;
  background-color: darkgray;
  padding: 1em 0 1em;
  cursor: pointer;
}

.toc_item:last-child {
  border-bottom: none;
}

.toc_item--active {
  background-color: gray;
}