.app {
  height: 100%;
  padding: 5em 0;
  background-image: url(../../assets/universe.jpg);
  background-color: var(--color-bg);
}

.app_title {
  text-align: center;
}

.app_content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 5em;
  height: 100%;
  background-color: var(--color-content-bg);
}
